html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.register-icon {
    font-size: 4rem;
    color: #343a40;
}

.table_profile_info {
  max-width: 400px;
}